Repository dhenkel92/cloud-gameserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint:async-server-provisioner, eslint:react, cargo:fmt, cargo:clippy

.pre-commit-config.yaml:

repos:
  #########################################
  # General
  #########################################
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-yaml
        exclude: infrastructure/ansible/roles/game-server/templates/docker-compose.yml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  #########################################
  # Backend
  #########################################
  - repo: local
    hooks:
      - id: eslint:async-server-provisioner
        name: Eslint Async Server Provisioner
        language: script
        pass_filenames: false
        files: ^async-server-provisioner/
        entry: ./bin/execute-npm.sh
        args: ["async-server-provisioner", "eslint:fix"]
  #########################################
  # React Frontend
  #########################################
  - repo: local
    hooks:
      - id: eslint:react
        name: Eslint React Frontend
        language: script
        pass_filenames: false
        files: ^react-frontend/
        entry: ./bin/execute-npm.sh
        args: ["react-frontend", "eslint:fix"]
  #########################################
  # Infrastructure
  #########################################
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.45.0
    hooks:
      - id: terraform_fmt
        files: ^infrastructure/terraform
      - id: terraform_validate
        files: ^infrastructure/terraform
      - id: terragrunt_fmt
        files: ^infrastructure/terragrunt
      - id: terragrunt_validate
        files: ^infrastructure/terragrunt/.*/terragrunt.hcl
  #########################################
  # Game Server Watcher
  #########################################
  - repo: local
    hooks:
      - id: cargo:fmt
        name: Cargo fmt
        language: script
        pass_filenames: false
        files: ^game-server-watcher/
        entry: ./bin/execute-cargo.sh
        args: ["game-server-watcher", "fmt", "--all", "--", "--check"]
      - id: cargo:clippy
        name: Cargo clippy
        language: script
        pass_filenames: false
        files: ^game-server-watcher/
        entry: ./bin/execute-cargo.sh
        args: ["game-server-watcher", "clippy", "--features", "strict"]

feature: enable strapi tracing
  backend/config/plugins.js
Due: none

feature: add dd_version to all image builds
  async-server-provisioner/Dockerfile
  backend/Dockerfile-prod-be
  backend/Dockerfile-prod-fe
  react-frontend/Dockerfile
Due: eslint:async-server-provisioner, eslint:react

feature: add simple execute trace to asp
  async-server-provisioner/src/services/GameDeploymentService.ts
Due: eslint:async-server-provisioner

feature: create dedicated dev environment
  async-server-provisioner/config/custom-environment-variables.yml
  async-server-provisioner/config/default.yml
  async-server-provisioner/src/entities/GameDeployment.ts
  async-server-provisioner/src/entities/MinecraftTFConfig.ts
  backend/.strapi-updater.json
  infrastructure/ansible/roles/game-server-start/tasks/fetch-backup.yml
  infrastructure/ansible/roles/game-server-start/vars/main.yml
  infrastructure/ansible/roles/shutdown-server/tasks/main.yml
  infrastructure/ansible/roles/shutdown-server/vars/main.yml
  infrastructure/terraform/00-aws-platform/identity/files/backup.json
  infrastructure/terraform/01-game-cloud-platform/cloud-game-server/main.tf
  infrastructure/terraform/01-game-cloud-platform/cloud-game-server/variables.tf
  infrastructure/terraform/01-game-cloud-platform/main.tf
  infrastructure/terraform/02-game-server/files/startup.sh
  infrastructure/terraform/02-game-server/main.tf
  infrastructure/terraform/02-game-server/variables.tf
  infrastructure/terraform/02-game-server/vars/test.tfvars
  infrastructure/terraform/modules/server/main.tf
  infrastructure/terraform/modules/server/variables.tf
Due: eslint:async-server-provisioner

feature: create dedicated dev environment (#116)
  async-server-provisioner/config/custom-environment-variables.yml
  async-server-provisioner/config/default.yml
  async-server-provisioner/src/entities/GameDeployment.ts
  async-server-provisioner/src/entities/MinecraftTFConfig.ts
  backend/.strapi-updater.json
  infrastructure/ansible/roles/game-server-start/tasks/fetch-backup.yml
  infrastructure/ansible/roles/game-server-start/vars/main.yml
  infrastructure/ansible/roles/shutdown-server/tasks/main.yml
  infrastructure/ansible/roles/shutdown-server/vars/main.yml
  infrastructure/terraform/00-aws-platform/identity/files/backup.json
  infrastructure/terraform/01-game-cloud-platform/cloud-game-server/main.tf
  infrastructure/terraform/01-game-cloud-platform/cloud-game-server/variables.tf
  infrastructure/terraform/01-game-cloud-platform/main.tf
  infrastructure/terraform/02-game-server/files/startup.sh
  infrastructure/terraform/02-game-server/main.tf
  infrastructure/terraform/02-game-server/variables.tf
  infrastructure/terraform/02-game-server/vars/test.tfvars
  infrastructure/terraform/modules/server/main.tf
  infrastructure/terraform/modules/server/variables.tf
Due: eslint:async-server-provisioner

fix(tf): game server ssh key
  infrastructure/terraform/02-game-server/main.tf
Due: none

fix(asp): always use latest backup
  async-server-provisioner/config/default.yml
  infrastructure/ansible/roles/game-server-start/tasks/fetch-backup.yml
Due: eslint:async-server-provisioner

fix(asp): always use latest backup (#117)
  async-server-provisioner/config/default.yml
  infrastructure/ansible/roles/game-server-start/tasks/fetch-backup.yml
Due: eslint:async-server-provisioner

cleanup: old unused ansible roles
  infrastructure/ansible/ark-server.yml
  infrastructure/ansible/minecraft.yml
  infrastructure/ansible/roles/ark-server/files/.gitkeep
  infrastructure/ansible/roles/ark-server/files/backup-server.sh
  infrastructure/ansible/roles/ark-server/files/server_start.sh
  infrastructure/ansible/roles/ark-server/files/start-ark-server.sh
  infrastructure/ansible/roles/ark-server/handlers/main.yml
  infrastructure/ansible/roles/ark-server/meta/main.yml
  infrastructure/ansible/roles/ark-server/tasks/main.yml
  infrastructure/ansible/roles/ark-server/tasks/steamcmd.yml
  infrastructure/ansible/roles/ark-server/templates/.gitkeep
  infrastructure/ansible/roles/ark-server/vars/main.yml
  infrastructure/ansible/roles/game-server/files/.gitkeep
  infrastructure/ansible/roles/game-server/handlers/main.yml
  infrastructure/ansible/roles/game-server/meta/main.yml
  infrastructure/ansible/roles/game-server/tasks/main.yml
  infrastructure/ansible/roles/game-server/templates/game-server-watcher.service
  infrastructure/ansible/roles/game-server/templates/game-server-watcher.yaml
  infrastructure/ansible/roles/game-server/vars/main.yml
  infrastructure/ansible/roles/minecraft/files/.gitkeep
  infrastructure/ansible/roles/minecraft/handlers/main.yml
  infrastructure/ansible/roles/minecraft/meta/main.yml
  infrastructure/ansible/roles/minecraft/tasks/java.yml
  infrastructure/ansible/roles/minecraft/tasks/main.yml
  infrastructure/ansible/roles/minecraft/templates/game-server-shutdown.service
  infrastructure/ansible/roles/minecraft/templates/game-server.service
  infrastructure/ansible/roles/minecraft/templates/startup.sh.j2
  infrastructure/ansible/roles/minecraft/vars/main.yml
Due: none

fix(tf): only use available images
  infrastructure/terraform/02-game-server/main.tf
Due: none

feature: create new game-server-watcher
  .github/workflows/game-server-watcher.yml
  .pre-commit-config.yaml
  async-server-provisioner/config/default.yml
  backend/.strapi-updater.json
  backend/src/index.js
  bin/execute-go.sh
  game-server-watcher-old/.dockerignore
  game-server-watcher-old/.gitignore
  game-server-watcher-old/.idea/.gitignore
  game-server-watcher-old/.idea/game-server-watcher.iml
  game-server-watcher-old/.idea/modules.xml
  game-server-watcher-old/.idea/vcs.xml
  game-server-watcher-old/Cargo.lock
  game-server-watcher-old/Cargo.toml
  game-server-watcher-old/Dockerfile
  game-server-watcher-old/example-config.yaml
  game-server-watcher-old/src/main.rs
  game-server-watcher-old/src/net/is_port_reachable.rs
  game-server-watcher-old/src/net/mod.rs
  game-server-watcher-old/src/routes/mod.rs
  game-server-watcher-old/src/routes/types.rs
  game-server-watcher-old/src/routes/watcher_details.rs
  game-server-watcher-old/src/routes/watchers.rs
  game-server-watcher-old/src/watcher_config.rs
  game-server-watcher/.gitignore
  game-server-watcher/Dockerfile
  game-server-watcher/cmd/game-server-watcher/main.go
  game-server-watcher/cmd/game-server-watcher/options.go
  game-server-watcher/go.mod
  game-server-watcher/go.sum
  game-server-watcher/pkg/cmd/server/server.go
  infrastructure/ansible/roles/game-server-start/templates/game-server-watcher.service
Due: eslint:async-server-provisioner, cargo:fmt, cargo:clippy

feature: create new game-server-watcher (#118)
  .github/workflows/game-server-watcher.yml
  .pre-commit-config.yaml
  async-server-provisioner/config/default.yml
  backend/.strapi-updater.json
  backend/src/index.js
  bin/execute-go.sh
  game-server-watcher-old/.dockerignore
  game-server-watcher-old/.gitignore
  game-server-watcher-old/.idea/.gitignore
  game-server-watcher-old/.idea/game-server-watcher.iml
  game-server-watcher-old/.idea/modules.xml
  game-server-watcher-old/.idea/vcs.xml
  game-server-watcher-old/Cargo.lock
  game-server-watcher-old/Cargo.toml
  game-server-watcher-old/Dockerfile
  game-server-watcher-old/example-config.yaml
  game-server-watcher-old/src/main.rs
  game-server-watcher-old/src/net/is_port_reachable.rs
  game-server-watcher-old/src/net/mod.rs
  game-server-watcher-old/src/routes/mod.rs
  game-server-watcher-old/src/routes/types.rs
  game-server-watcher-old/src/routes/watcher_details.rs
  game-server-watcher-old/src/routes/watchers.rs
  game-server-watcher-old/src/watcher_config.rs
  game-server-watcher/.gitignore
  game-server-watcher/Dockerfile
  game-server-watcher/cmd/game-server-watcher/main.go
  game-server-watcher/cmd/game-server-watcher/options.go
  game-server-watcher/go.mod
  game-server-watcher/go.sum
  game-server-watcher/pkg/cmd/server/server.go
  infrastructure/ansible/roles/game-server-start/templates/game-server-watcher.service
Due: eslint:async-server-provisioner, cargo:fmt, cargo:clippy

fix(asp): always close transaction in queue consumer
  async-server-provisioner/src/services/GameDeploymentService.ts
Due: eslint:async-server-provisioner

fix(frontend): preserve OAuth session and validate callback tokens
  react-frontend/README.md
  react-frontend/src/StorageAdapter.ts
  react-frontend/src/components/login/login.test.tsx
  react-frontend/src/components/login/login.tsx
Due: eslint:react
