Repository dhenkel92/cloud-gameserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint:async-server-provisioner, eslint:react, cargo:fmt, cargo:clippy

.pre-commit-config.yaml:

repos:
  #########################################
  # General
  #########################################
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-yaml
        exclude: infrastructure/ansible/roles/game-server/templates/docker-compose.yml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  #########################################
  # Backend
  #########################################
  - repo: local
    hooks:
      - id: eslint:async-server-provisioner
        name: Eslint Async Server Provisioner
        language: script
        pass_filenames: false
        files: ^async-server-provisioner/
        entry: ./bin/execute-npm.sh
        args: ["async-server-provisioner", "eslint:fix"]
  #########################################
  # React Frontend
  #########################################
  - repo: local
    hooks:
      - id: eslint:react
        name: Eslint React Frontend
        language: script
        pass_filenames: false
        files: ^react-frontend/
        entry: ./bin/execute-npm.sh
        args: ["react-frontend", "eslint:fix"]
  #########################################
  # Infrastructure
  #########################################
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.45.0
    hooks:
      - id: terraform_fmt
        files: ^infrastructure/terraform
      - id: terraform_validate
        files: ^infrastructure/terraform
      - id: terragrunt_fmt
        files: ^infrastructure/terragrunt
      - id: terragrunt_validate
        files: ^infrastructure/terragrunt/.*/terragrunt.hcl
  #########################################
  # Game Server Watcher
  #########################################
  - repo: local
    hooks:
      - id: cargo:fmt
        name: Cargo fmt
        language: script
        pass_filenames: false
        files: ^game-server-watcher/
        entry: ./bin/execute-cargo.sh
        args: ["game-server-watcher", "fmt", "--all", "--", "--check"]
      - id: cargo:clippy
        name: Cargo clippy
        language: script
        pass_filenames: false
        files: ^game-server-watcher/
        entry: ./bin/execute-cargo.sh
        args: ["game-server-watcher", "clippy", "--features", "strict"]

[RF] small comment to trigger the pipeline
  react-frontend/README.md
Due: eslint:react

[CI] update ci deployment URL
  .github/scripts/deploy.sh
Due: none

[BE] add dd-tracer to strapi
  backend/package-lock.json
  backend/package.json
  backend/src/index.js
Due: none

[ASP] add spans/traces to logs
  async-server-provisioner/src/index.ts
Due: eslint:async-server-provisioner

deps(backend): upgrade dependencies
  backend/.strapi-updater.json
  backend/.strapi/client/app.js
  backend/.strapi/client/index.html
  backend/Dockerfile
  backend/config/admin.js
  backend/config/server.js
  backend/package-lock.json
  backend/package.json
  backend/types/generated/components.d.ts
  backend/types/generated/contentTypes.d.ts
Due: none

make it work somehow :D
  backend/src/graphql/middlewares.js
  backend/src/index.js
  react-frontend/package-lock.json
  react-frontend/package.json
  react-frontend/src/components/app/App.test.tsx
  react-frontend/src/index.tsx
Due: eslint:react

deps(backend): support mysql 8
  backend/config/database.js
  backend/package-lock.json
  backend/package.json
  docker-compose.yaml
Due: none

deps(asp): upgrade dependencies
  async-server-provisioner/package-lock.json
  async-server-provisioner/package.json
  async-server-provisioner/src/ServiceLocator.ts
  async-server-provisioner/src/adapters/MySqlAdapter.ts
  async-server-provisioner/src/adapters/ShellAdapter.ts
  async-server-provisioner/src/repositories/GameDeploymentRepository.ts
  async-server-provisioner/src/repositories/HetznerCloudRepository.ts
  async-server-provisioner/src/services/GameDeploymentService.ts
  async-server-provisioner/tsconfig.json
Due: eslint:async-server-provisioner

deps(asp): upgrade dependencies (#110)
  async-server-provisioner/package-lock.json
  async-server-provisioner/package.json
  async-server-provisioner/src/ServiceLocator.ts
  async-server-provisioner/src/adapters/MySqlAdapter.ts
  async-server-provisioner/src/adapters/ShellAdapter.ts
  async-server-provisioner/src/repositories/GameDeploymentRepository.ts
  async-server-provisioner/src/repositories/HetznerCloudRepository.ts
  async-server-provisioner/src/services/GameDeploymentService.ts
  async-server-provisioner/tsconfig.json
Due: eslint:async-server-provisioner

upgrade(infra): switch packer from json to hcl format
  infrastructure/packer/manifests/basic_gameserver.json
  infrastructure/packer/manifests/basic_gameserver.pkr.hcl
  infrastructure/packer/vars/production.hcl
  infrastructure/packer/vars/production.json
Due: none

fix(asp): upgrade everything to make it work again
  async-server-provisioner/Dockerfile-dev
  async-server-provisioner/config/default.yml
  async-server-provisioner/src/adapters/MySqlAdapter.ts
  async-server-provisioner/terraform/02-game-server/.terraform.lock.hcl
  infrastructure/docker/satisfactory/Dockerfile
  infrastructure/terraform/02-game-server/.terraform.lock.hcl
Due: eslint:async-server-provisioner

feature: use docker to run game servers
  async-server-provisioner/config/default.yml
  infrastructure/ansible/roles/base-server/tasks/prepare-server.yml
  infrastructure/terraform/02-game-server/files/startup.sh
  infrastructure/terraform/02-game-server/main.tf
  infrastructure/terraform/02-game-server/variables.tf
Due: eslint:async-server-provisioner

use docker image from game version
  async-server-provisioner/src/entities/GameDeployment.ts
  async-server-provisioner/src/entities/MinecraftTFConfig.ts
  async-server-provisioner/src/repositories/GameDeploymentRepository.ts
Due: eslint:async-server-provisioner

migrate game deployment query from mysql to graphql
  async-server-provisioner/config/custom-environment-variables.yml
  async-server-provisioner/config/default.yml
  async-server-provisioner/src/adapters/GraphQlAdapter.ts
  async-server-provisioner/src/entities/CloudInstance.ts
  async-server-provisioner/src/entities/GameDeployment.ts
  async-server-provisioner/src/entities/GameInstance.ts
  async-server-provisioner/src/entities/MinecraftTFConfig.ts
  async-server-provisioner/src/repositories/GameDeploymentRepository.ts
  async-server-provisioner/src/services/GameDeploymentService.ts
  async-server-provisioner/src/services/TerraformService.ts
  docker-compose.yaml
  infrastructure/terraform/02-game-server/variables.tf
Due: eslint:async-server-provisioner

use ports from game_version
  async-server-provisioner/src/entities/GameInstance.ts
  async-server-provisioner/src/entities/MinecraftTFConfig.ts
  async-server-provisioner/src/repositories/GameDeploymentRepository.ts
  infrastructure/terraform/02-game-server/main.tf
  infrastructure/terraform/02-game-server/variables.tf
  infrastructure/terraform/02-game-server/vars/test.tfvars
  infrastructure/terraform/modules/dns/.gitignore
  infrastructure/terraform/modules/dns/.terraform.lock.hcl
  infrastructure/terraform/modules/ecr/.gitignore
  infrastructure/terraform/modules/ecr/.terraform.lock.hcl
  infrastructure/terraform/modules/firewall/.gitignore
  infrastructure/terraform/modules/firewall/.terraform.lock.hcl
  infrastructure/terraform/modules/firewall/main.tf
  infrastructure/terraform/modules/firewall/variables.tf
  infrastructure/terraform/modules/iam_user/.gitignore
  infrastructure/terraform/modules/iam_user/.terraform.lock.hcl
  infrastructure/terraform/modules/network/.gitignore
  infrastructure/terraform/modules/network/.terraform.lock.hcl
  infrastructure/terraform/modules/s3/.gitignore
  infrastructure/terraform/modules/server/.gitignore
  infrastructure/terraform/modules/ssh_key/.gitignore
  infrastructure/terraform/modules/ssh_key/.terraform.lock.hcl
Due: eslint:async-server-provisioner

feature: use docker to run game servers (#111)
  async-server-provisioner/config/custom-environment-variables.yml
  async-server-provisioner/config/default.yml
  async-server-provisioner/src/adapters/GraphQlAdapter.ts
  async-server-provisioner/src/entities/CloudInstance.ts
  async-server-provisioner/src/entities/GameDeployment.ts
  async-server-provisioner/src/entities/GameInstance.ts
  async-server-provisioner/src/entities/MinecraftTFConfig.ts
  async-server-provisioner/src/repositories/GameDeploymentRepository.ts
  async-server-provisioner/src/services/GameDeploymentService.ts
  async-server-provisioner/src/services/TerraformService.ts
  docker-compose.yaml
  infrastructure/ansible/roles/base-server/tasks/prepare-server.yml
  infrastructure/terraform/02-game-server/files/startup.sh
  infrastructure/terraform/02-game-server/main.tf
  infrastructure/terraform/02-game-server/variables.tf
  infrastructure/terraform/02-game-server/vars/test.tfvars
  infrastructure/terraform/modules/dns/.gitignore
  infrastructure/terraform/modules/dns/.terraform.lock.hcl
  infrastructure/terraform/modules/ecr/.gitignore
  infrastructure/terraform/modules/ecr/.terraform.lock.hcl
  infrastructure/terraform/modules/firewall/.gitignore
  infrastructure/terraform/modules/firewall/.terraform.lock.hcl
  infrastructure/terraform/modules/firewall/main.tf
  infrastructure/terraform/modules/firewall/variables.tf
  infrastructure/terraform/modules/iam_user/.gitignore
  infrastructure/terraform/modules/iam_user/.terraform.lock.hcl
  infrastructure/terraform/modules/network/.gitignore
  infrastructure/terraform/modules/network/.terraform.lock.hcl
  infrastructure/terraform/modules/s3/.gitignore
  infrastructure/terraform/modules/server/.gitignore
  infrastructure/terraform/modules/ssh_key/.gitignore
  infrastructure/terraform/modules/ssh_key/.terraform.lock.hcl
Due: eslint:async-server-provisioner

feature: use backup path on game server
  infrastructure/ansible/roles/game-server-start/tasks/main.yml
Due: none

pass backup paths to terraform/ansible
  async-server-provisioner/src/entities/GameInstance.ts
  async-server-provisioner/src/entities/MinecraftTFConfig.ts
  async-server-provisioner/src/repositories/GameDeploymentRepository.ts
  infrastructure/terraform/02-game-server/files/startup.sh
  infrastructure/terraform/02-game-server/main.tf
  infrastructure/terraform/02-game-server/variables.tf
  infrastructure/terraform/02-game-server/vars/test.tfvars
  infrastructure/terraform/modules/server/.terraform.lock.hcl
  infrastructure/terraform/modules/server/variables.tf
Due: eslint:async-server-provisioner

move ansible branch to async server provisioner
  async-server-provisioner/config/custom-environment-variables.yml
  async-server-provisioner/config/default.yml
  async-server-provisioner/src/entities/MinecraftTFConfig.ts
Due: eslint:async-server-provisioner

create and mount backup paths
  infrastructure/ansible/roles/game-server-start/tasks/main.yml
  infrastructure/ansible/roles/game-server-start/templates/game-server.service
  infrastructure/ansible/roles/game-server-start/vars/main.yml
  infrastructure/terraform/02-game-server/files/startup.sh
Due: none

use proper command to start satisfactory server
  infrastructure/docker/satisfactory/Dockerfile
Due: none

update satisfactory dockerfile
  async-server-provisioner/config/default.yml
  infrastructure/docker/satisfactory/Dockerfile
Due: eslint:async-server-provisioner

feature: use backup path on game server (#112)
  async-server-provisioner/config/custom-environment-variables.yml
  async-server-provisioner/config/default.yml
  async-server-provisioner/src/entities/GameInstance.ts
  async-server-provisioner/src/entities/MinecraftTFConfig.ts
  async-server-provisioner/src/repositories/GameDeploymentRepository.ts
  infrastructure/ansible/roles/game-server-start/tasks/main.yml
  infrastructure/ansible/roles/game-server-start/templates/game-server.service
  infrastructure/ansible/roles/game-server-start/vars/main.yml
  infrastructure/docker/satisfactory/Dockerfile
  infrastructure/terraform/02-game-server/files/startup.sh
  infrastructure/terraform/02-game-server/main.tf
  infrastructure/terraform/02-game-server/variables.tf
  infrastructure/terraform/02-game-server/vars/test.tfvars
  infrastructure/terraform/modules/server/.terraform.lock.hcl
  infrastructure/terraform/modules/server/variables.tf
Due: eslint:async-server-provisioner

feature: implement create/restore backups
  async-server-provisioner/config/default.yml
  async-server-provisioner/src/entities/GameInstance.ts
  async-server-provisioner/src/entities/MinecraftTFConfig.ts
  async-server-provisioner/src/repositories/GameDeploymentRepository.ts
  infrastructure/ansible/roles/game-server-start/tasks/fetch-backup.yml
  infrastructure/ansible/roles/game-server-start/tasks/main.yml
  infrastructure/ansible/roles/game-server-start/templates/game-server.service
  infrastructure/ansible/roles/game-server-start/vars/main.yml
  infrastructure/ansible/roles/shutdown-server/vars/main.yml
  infrastructure/packer/provisioners/common/install-ansible.sh
  infrastructure/terraform/02-game-server/files/startup.sh
  infrastructure/terraform/02-game-server/main.tf
  infrastructure/terraform/02-game-server/variables.tf
  infrastructure/terraform/02-game-server/vars/test.tfvars
Due: eslint:async-server-provisioner

create shutdown service
  infrastructure/ansible/roles/game-server-start/handlers/main.yml
  infrastructure/ansible/roles/game-server-start/tasks/create-server-shutdown-service.yaml
  infrastructure/ansible/roles/game-server-start/tasks/main.yml
  infrastructure/ansible/roles/game-server-start/templates/game-shutdown.service
Due: none

create shutdown andible role
  infrastructure/ansible/generic/bucket.yaml
  infrastructure/ansible/roles/game-server-start/handlers/main.yml
  infrastructure/ansible/roles/game-server-start/tasks/fetch-backup.yml
  infrastructure/ansible/roles/game-server-start/tasks/main.yml
  infrastructure/ansible/roles/game-server-start/templates/.gitkeep
  infrastructure/ansible/roles/game-server-start/templates/game-shutdown.service
  infrastructure/ansible/roles/shutdown-server/tasks/main.yml
  infrastructure/terraform/00-aws-platform/identity/files/backup.json
Due: none

feature: implement create/restore backups (#113)
  async-server-provisioner/config/default.yml
  async-server-provisioner/src/entities/GameInstance.ts
  async-server-provisioner/src/entities/MinecraftTFConfig.ts
  async-server-provisioner/src/repositories/GameDeploymentRepository.ts
  infrastructure/ansible/generic/bucket.yaml
  infrastructure/ansible/roles/game-server-start/handlers/main.yml
  infrastructure/ansible/roles/game-server-start/tasks/create-server-shutdown-service.yaml
  infrastructure/ansible/roles/game-server-start/tasks/fetch-backup.yml
  infrastructure/ansible/roles/game-server-start/tasks/main.yml
  infrastructure/ansible/roles/game-server-start/templates/.gitkeep
  infrastructure/ansible/roles/game-server-start/templates/game-server.service
  infrastructure/ansible/roles/game-server-start/templates/game-shutdown.service
  infrastructure/ansible/roles/game-server-start/vars/main.yml
  infrastructure/ansible/roles/shutdown-server/tasks/main.yml
  infrastructure/ansible/roles/shutdown-server/vars/main.yml
  infrastructure/packer/provisioners/common/install-ansible.sh
  infrastructure/terraform/00-aws-platform/identity/files/backup.json
  infrastructure/terraform/02-game-server/files/startup.sh
  infrastructure/terraform/02-game-server/main.tf
  infrastructure/terraform/02-game-server/variables.tf
  infrastructure/terraform/02-game-server/vars/test.tfvars
Due: eslint:async-server-provisioner

make it work
  .dockerignore
  async-server-provisioner/Dockerfile
  async-server-provisioner/config/default.yml
  async-server-provisioner/src/ServiceLocator.ts
  async-server-provisioner/src/adapters/GraphQlAdapter.ts
  async-server-provisioner/src/repositories/GameDeploymentRepository.ts
  backend/.dockerignore
  backend/.strapi-updater.json
  backend/Dockerfile-prod-be
  backend/Dockerfile-prod-fe
  backend/config/admin.js
  backend/package-lock.json
  backend/package.json
  backend/prod-patches/@strapi+admin+4.24.0.patch
  infrastructure/ansible/roles/admin-server/tasks/certbot.yml
  infrastructure/ansible/roles/admin-server/templates/deploy
  infrastructure/ansible/roles/admin-server/templates/docker-compose.yml
  infrastructure/ansible/roles/admin-server/templates/mysql.service
  infrastructure/ansible/roles/base-server/tasks/docker.yml
  infrastructure/docker/proxy-container/files/nginx.conf
  infrastructure/terraform/00-aws-platform/.terraform.lock.hcl
  infrastructure/terraform/00-aws-platform/identity/files/async-server-provisioner.json
  infrastructure/terraform/00-aws-platform/main.tf
  infrastructure/terraform/00-aws-platform/outputs.tf
  infrastructure/terraform/01-game-cloud-platform/.terraform.lock.hcl
  infrastructure/terraform/01-game-cloud-platform/cloud-game-server/.terraform.lock.hcl
  infrastructure/terraform/01-game-cloud-platform/cloud-game-server/files/cloud_game_server_init.sh
  infrastructure/terraform/01-game-cloud-platform/cloud-game-server/main.tf
  infrastructure/terraform/01-game-cloud-platform/main.tf
  infrastructure/terraform/01-game-cloud-platform/terraform.tfvars
  infrastructure/terraform/01-game-cloud-platform/versions.tf
  react-frontend/Dockerfile
Due: eslint:async-server-provisioner, eslint:react

make it work (#114)
  .dockerignore
  async-server-provisioner/Dockerfile
  async-server-provisioner/config/default.yml
  async-server-provisioner/src/ServiceLocator.ts
  async-server-provisioner/src/adapters/GraphQlAdapter.ts
  async-server-provisioner/src/repositories/GameDeploymentRepository.ts
  backend/.dockerignore
  backend/.strapi-updater.json
  backend/Dockerfile-prod-be
  backend/Dockerfile-prod-fe
  backend/config/admin.js
  backend/package-lock.json
  backend/package.json
  backend/prod-patches/@strapi+admin+4.24.0.patch
  infrastructure/ansible/roles/admin-server/tasks/certbot.yml
  infrastructure/ansible/roles/admin-server/templates/deploy
  infrastructure/ansible/roles/admin-server/templates/docker-compose.yml
  infrastructure/ansible/roles/admin-server/templates/mysql.service
  infrastructure/ansible/roles/base-server/tasks/docker.yml
  infrastructure/docker/proxy-container/files/nginx.conf
  infrastructure/terraform/00-aws-platform/.terraform.lock.hcl
  infrastructure/terraform/00-aws-platform/identity/files/async-server-provisioner.json
  infrastructure/terraform/00-aws-platform/main.tf
  infrastructure/terraform/00-aws-platform/outputs.tf
  infrastructure/terraform/01-game-cloud-platform/.terraform.lock.hcl
  infrastructure/terraform/01-game-cloud-platform/cloud-game-server/.terraform.lock.hcl
  infrastructure/terraform/01-game-cloud-platform/cloud-game-server/files/cloud_game_server_init.sh
  infrastructure/terraform/01-game-cloud-platform/cloud-game-server/main.tf
  infrastructure/terraform/01-game-cloud-platform/main.tf
  infrastructure/terraform/01-game-cloud-platform/terraform.tfvars
  infrastructure/terraform/01-game-cloud-platform/versions.tf
  react-frontend/Dockerfile
Due: eslint:async-server-provisioner, eslint:react

fix ci
  .github/scripts/auth.sh
  .github/workflows/base-image.yml
  .github/workflows/consumer.yml
  .github/workflows/react-frontend.yml
  .github/workflows/strapi.yml
  infrastructure/terraform/01-game-cloud-platform/terraform.tfvars
Due: none

fix hetzner image deploy
  .github/workflows/base-image.yml
  infrastructure/packer/manifests/basic_gameserver.pkr.hcl
Due: none

remove temporal ci trigger
  .github/workflows/base-image.yml
  .github/workflows/consumer.yml
  .github/workflows/react-frontend.yml
  .github/workflows/strapi.yml
Due: none

fix ci (#115)
  .github/scripts/auth.sh
  .github/workflows/base-image.yml
  .github/workflows/consumer.yml
  .github/workflows/react-frontend.yml
  .github/workflows/strapi.yml
  infrastructure/packer/manifests/basic_gameserver.pkr.hcl
  infrastructure/terraform/01-game-cloud-platform/terraform.tfvars
Due: none

feature: add metadata to prod builds
  .github/workflows/consumer.yml
  .github/workflows/react-frontend.yml
  .github/workflows/strapi.yml
  async-server-provisioner/Dockerfile
  backend/Dockerfile-prod-be
  backend/Dockerfile-prod-fe
  react-frontend/Dockerfile
Due: eslint:async-server-provisioner, eslint:react

feature: add metadata to prod builds
  .github/workflows/consumer.yml
  .github/workflows/react-frontend.yml
  .github/workflows/strapi.yml
Due: none
