Repository dhenkel92/cloud-gameserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint:async-server-provisioner, eslint:react, cargo:fmt, cargo:clippy

.pre-commit-config.yaml:

repos:
  #########################################
  # General
  #########################################
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-yaml
        exclude: infrastructure/ansible/roles/game-server/templates/docker-compose.yml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  #########################################
  # Backend
  #########################################
  - repo: local
    hooks:
      - id: eslint:async-server-provisioner
        name: Eslint Async Server Provisioner
        language: script
        pass_filenames: false
        files: ^async-server-provisioner/
        entry: ./bin/execute-npm.sh
        args: ["async-server-provisioner", "eslint:fix"]
  #########################################
  # React Frontend
  #########################################
  - repo: local
    hooks:
      - id: eslint:react
        name: Eslint React Frontend
        language: script
        pass_filenames: false
        files: ^react-frontend/
        entry: ./bin/execute-npm.sh
        args: ["react-frontend", "eslint:fix"]
  #########################################
  # Infrastructure
  #########################################
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.45.0
    hooks:
      - id: terraform_fmt
        files: ^infrastructure/terraform
      - id: terraform_validate
        files: ^infrastructure/terraform
      - id: terragrunt_fmt
        files: ^infrastructure/terragrunt
      - id: terragrunt_validate
        files: ^infrastructure/terragrunt/.*/terragrunt.hcl
  #########################################
  # Game Server Watcher
  #########################################
  - repo: local
    hooks:
      - id: cargo:fmt
        name: Cargo fmt
        language: script
        pass_filenames: false
        files: ^game-server-watcher/
        entry: ./bin/execute-cargo.sh
        args: ["game-server-watcher", "fmt", "--all", "--", "--check"]
      - id: cargo:clippy
        name: Cargo clippy
        language: script
        pass_filenames: false
        files: ^game-server-watcher/
        entry: ./bin/execute-cargo.sh
        args: ["game-server-watcher", "clippy", "--features", "strict"]

replace hardcoded api urls in login
  react-frontend/src/components/login/login.tsx
Due: eslint:react

fix prettier
  react-frontend/src/components/login/login.tsx
Due: eslint:react

use react environment variable
  react-frontend/Dockerfile
  react-frontend/src/components/login/login.tsx
  react-frontend/src/index.tsx
Due: eslint:react

use react environment variable
  .github/workflows/react-frontend.yml
  react-frontend/src/components/login/login.tsx
  react-frontend/src/index.tsx
Due: eslint:react

fix react docker default url
  react-frontend/Dockerfile
Due: eslint:react

add more headers to strapi be proxy
  infrastructure/docker/proxy-container/files/sites-enabled/strapi-be
Due: none

add proxy:true to new strapi server config
  backend/config/server.js
Due: none

try to implement user authentication for game instances
  backend/package-lock.json
  backend/package.json
  backend/src/api/game-instance/content-types/game-instance/schema.json
  backend/src/extensions/users-permissions/content-types/user/schema.json
  backend/src/graphql/middlewares.js
  backend/src/index.js
Due: none

[BE] add game to game version and create game instance status field
  backend/.strapi-updater.json
  backend/config/plugins.js
  backend/src/api/game-instance/content-types/game-instance/schema.json
  backend/src/api/game-version/content-types/game-version/schema.json
  backend/src/api/game/content-types/game/schema.json
  backend/src/extensions/users-permissions/content-types/user/schema.json
Due: none

[FE] fix game overview listing page
  react-frontend/src/components/home/GameConfigList/GameConfigList.tsx
Due: eslint:react

[FE] fix game details page
  backend/src/api/game-deployment/content-types/game-deployment/schema.json
  react-frontend/src/components/home/GameConfigDetails/GameConfigDetailQuery.ts
  react-frontend/src/components/home/GameConfigDetails/GameConfigDetails.tsx
Due: eslint:react

[BE] game deployment cost_per_hour should be required
  backend/src/api/game-deployment/content-types/game-deployment/schema.json
Due: none

[BE] remove user permissions from game_version
  backend/src/api/game-version/content-types/game-version/schema.json
  backend/src/extensions/users-permissions/content-types/user/schema.json
Due: none

rename master branch to main
  .github/workflows/base-image.yml
  .github/workflows/consumer.yml
  .github/workflows/react-frontend.yml
  .github/workflows/strapi.yml
Due: none

[FE] always use deployment state to show in UI
  backend/.strapi-updater.json
  backend/src/api/game-deployment/content-types/game-deployment/schema.json
  backend/src/api/game-instance/content-types/game-instance/schema.json
  react-frontend/package-lock.json
  react-frontend/package.json
  react-frontend/src/components/general/button/Button.module.css
  react-frontend/src/components/general/button/Button.tsx
  react-frontend/src/components/general/table/Table.module.css
  react-frontend/src/components/general/table/Table.tsx
  react-frontend/src/components/home/GameConfigDetails/DetailsConsole/DetailsConsole.tsx
  react-frontend/src/components/home/GameConfigDetails/DetailsTable/DetailsTable.tsx
  react-frontend/src/components/home/GameConfigDetails/GameConfigButtons/GameConfigButtons.tsx
  react-frontend/src/components/home/GameConfigDetails/GameConfigDetailQuery.ts
  react-frontend/src/components/home/GameConfigDetails/GameConfigDetails.tsx
  react-frontend/src/components/home/GameConfigList/GameConfigList.tsx
Due: eslint:react

[FE] create proper mutations to start / stop game servers
  backend/src/api/game-deployment/content-types/game-deployment/schema.json
  react-frontend/src/components/home/GameConfigDetails/DetailsTable/DetailsTable.tsx
  react-frontend/src/components/home/GameConfigDetails/GameConfigButtons/GameConfigButtons.tsx
  react-frontend/src/components/home/GameConfigDetails/GameConfigDetails.tsx
Due: eslint:react

[BE] add consumer_uuid to game deployment
  backend/.strapi-updater.json
  backend/config/database.js
  backend/src/api/cloud-instance/content-types/cloud-instance/schema.json
  backend/src/api/game-deployment/content-types/game-deployment/schema.json
Due: none

[FE] only show server details if there is a running one
  react-frontend/src/components/home/GameConfigDetails/GameConfigDetails.tsx
Due: eslint:react

[ASP] update game server provisioner for new strucutre
  async-server-provisioner/src/ServiceLocator.ts
  async-server-provisioner/src/adapters/MySqlAdapter.ts
  async-server-provisioner/src/entities/CloudInstance.ts
  async-server-provisioner/src/entities/GameConfig.ts
  async-server-provisioner/src/entities/GameDeployment.ts
  async-server-provisioner/src/entities/GameInstance.ts
  async-server-provisioner/src/entities/MinecraftTFConfig.ts
  async-server-provisioner/src/repositories/GameConfigRepository.ts
  async-server-provisioner/src/repositories/GameDeploymentRepository.ts
  async-server-provisioner/src/repositories/GameServerRepository.ts
  async-server-provisioner/src/services/GameDeploymentService.ts
  async-server-provisioner/src/services/TerraformService.ts
  async-server-provisioner/terraform/02-game-server/.terraform.lock.hcl
Due: eslint:async-server-provisioner

[ASP] update game_config tf default value
  async-server-provisioner/src/entities/MinecraftTFConfig.ts
Due: eslint:async-server-provisioner

[BE] make instance cost a float instead of decimal
  async-server-provisioner/src/entities/GameDeployment.ts
  async-server-provisioner/src/repositories/GameDeploymentRepository.ts
  backend/src/api/cloud-instance/content-types/cloud-instance/schema.json
  backend/src/api/game-deployment/content-types/game-deployment/schema.json
Due: eslint:async-server-provisioner

[ASP] fix typo
  async-server-provisioner/src/repositories/GameDeploymentRepository.ts
Due: eslint:async-server-provisioner

[GSW] create game server watcher dockerfile
  game-server-watcher/.dockerignore
  game-server-watcher/Dockerfile
Due: cargo:fmt, cargo:clippy

[CI] only run ci pipeline on main branch
  .github/workflows/base-image.yml
  .github/workflows/react-frontend.yml
  .github/workflows/strapi.yml
Due: none

[INFRA] don't bundle game-server-watcher with vm image
  infrastructure/packer/manifests/basic_gameserver.json
  infrastructure/packer/provisioners/common/install-ansible.sh
  infrastructure/packer/tmp/game-server-watcher
  infrastructure/packer/vars/production.json
Due: none

[INFRA] create game-server-start ansible role
  infrastructure/ansible/base-server.yml
  infrastructure/ansible/game-server-start.yaml
  infrastructure/ansible/host/ansible.cfg
  infrastructure/ansible/roles/base-server/tasks/prepare-server.yml
  infrastructure/ansible/roles/base-server/vars/main.yml
  infrastructure/ansible/roles/game-server-start/files/.gitkeep
  infrastructure/ansible/roles/game-server-start/handlers/.gitkeep
  infrastructure/ansible/roles/game-server-start/handlers/main.yml
  infrastructure/ansible/roles/game-server-start/meta/main.yml
  infrastructure/ansible/roles/game-server-start/tasks/datadog.yml
  infrastructure/ansible/roles/game-server-start/tasks/game-server-watcher.yml
  infrastructure/ansible/roles/game-server-start/tasks/main.yml
  infrastructure/ansible/roles/game-server-start/templates/.gitkeep
  infrastructure/ansible/roles/game-server-start/templates/datadog.service
  infrastructure/ansible/roles/game-server-start/templates/game-server-watcher.service
  infrastructure/ansible/roles/game-server-start/templates/game-server.service
  infrastructure/ansible/roles/game-server-start/templates/watcher-config.yml
  infrastructure/ansible/roles/game-server-start/vars/main.yml
Due: none

[INFRA] update game server terraform to match new strucutre
  async-server-provisioner/Dockerfile
  infrastructure/ansible/game-server-start.yml
  infrastructure/terraform/02-game-server/.terraform.lock.hcl
  infrastructure/terraform/02-game-server/files/startup.sh
  infrastructure/terraform/02-game-server/main.tf
  infrastructure/terraform/02-game-server/variables.tf
  infrastructure/terraform/02-game-server/vars/test.tfvars
Due: eslint:async-server-provisioner

[ASP] update terraform varibles
  async-server-provisioner/config/custom-environment-variables.yml
  async-server-provisioner/config/default.yml
  async-server-provisioner/src/entities/MinecraftTFConfig.ts
Due: eslint:async-server-provisioner

[CI] fix base-image ci environment
  .github/workflows/base-image.yml
Due: none

[ASP] fix terraform apply
  async-server-provisioner/src/entities/MinecraftTFConfig.ts
Due: eslint:async-server-provisioner

[ASP] update configuration variables
  async-server-provisioner/config/custom-environment-variables.yml
Due: eslint:async-server-provisioner

[ASP] readd HCLOUD_TOKEN config env var
  async-server-provisioner/config/custom-environment-variables.yml
Due: eslint:async-server-provisioner

[INFRA] update game server port to proper minecraft
  infrastructure/terraform/02-game-server/main.tf
Due: none

[BE] create reusable server config components
  backend/.strapi-updater.json
  backend/src/api/game-version/content-types/game-version/schema.json
  backend/src/components/server-config/backup-path.json
  backend/src/components/server-config/log-file.json
  backend/src/components/server-config/port.json
Due: none

[BE] make server config parts optional
  backend/src/api/game-version/content-types/game-version/schema.json
Due: none

add backup paths to the game server infra
  async-server-provisioner/src/entities/MinecraftTFConfig.ts
  async-server-provisioner/terraform/02-game-server/variables.tf
  infrastructure/ansible/roles/game-server-start/tasks/main.yml
  infrastructure/ansible/roles/game-server-start/templates/game-server.service
  infrastructure/ansible/roles/game-server-start/vars/main.yml
  infrastructure/ansible/roles/game-server-stop/files/.gitkeep
  infrastructure/ansible/roles/game-server-stop/handlers/.gitkeep
  infrastructure/ansible/roles/game-server-stop/handlers/main.yml
  infrastructure/ansible/roles/game-server-stop/meta/main.yml
  infrastructure/ansible/roles/game-server-stop/tasks/main.yml
  infrastructure/ansible/roles/game-server-stop/templates/.gitkeep
  infrastructure/ansible/roles/game-server-stop/vars/main.yml
  infrastructure/terraform/02-game-server/files/startup.sh
  infrastructure/terraform/02-game-server/main.tf
  infrastructure/terraform/02-game-server/variables.tf
Due: eslint:async-server-provisioner

update some dependencies
  backend/.strapi-updater.json
  backend/package-lock.json
  backend/package.json
  react-frontend/package-lock.json
Due: eslint:react

[ASP] add dd-tracer agent
  async-server-provisioner/package-lock.json
  async-server-provisioner/package.json
  async-server-provisioner/src/index.ts
Due: eslint:async-server-provisioner

[ASP] fix eslint errors
  async-server-provisioner/src/index.ts
Due: eslint:async-server-provisioner
