Repository dhenkel92/cloud-gameserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint:async-server-provisioner, eslint:react, cargo:fmt, cargo:clippy

.pre-commit-config.yaml:

repos:
  #########################################
  # General
  #########################################
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-yaml
        exclude: infrastructure/ansible/roles/game-server/templates/docker-compose.yml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  #########################################
  # Backend
  #########################################
  - repo: local
    hooks:
      - id: eslint:async-server-provisioner
        name: Eslint Async Server Provisioner
        language: script
        pass_filenames: false
        files: ^async-server-provisioner/
        entry: ./bin/execute-npm.sh
        args: ["async-server-provisioner", "eslint:fix"]
  #########################################
  # React Frontend
  #########################################
  - repo: local
    hooks:
      - id: eslint:react
        name: Eslint React Frontend
        language: script
        pass_filenames: false
        files: ^react-frontend/
        entry: ./bin/execute-npm.sh
        args: ["react-frontend", "eslint:fix"]
  #########################################
  # Infrastructure
  #########################################
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.45.0
    hooks:
      - id: terraform_fmt
        files: ^infrastructure/terraform
      - id: terraform_validate
        files: ^infrastructure/terraform
      - id: terragrunt_fmt
        files: ^infrastructure/terragrunt
      - id: terragrunt_validate
        files: ^infrastructure/terragrunt/.*/terragrunt.hcl
  #########################################
  # Game Server Watcher
  #########################################
  - repo: local
    hooks:
      - id: cargo:fmt
        name: Cargo fmt
        language: script
        pass_filenames: false
        files: ^game-server-watcher/
        entry: ./bin/execute-cargo.sh
        args: ["game-server-watcher", "fmt", "--all", "--", "--check"]
      - id: cargo:clippy
        name: Cargo clippy
        language: script
        pass_filenames: false
        files: ^game-server-watcher/
        entry: ./bin/execute-cargo.sh
        args: ["game-server-watcher", "clippy", "--features", "strict"]

[GSW] start to build ci pipeline
  .github/workflows/base-image.yml
  infrastructure/packer/manifests/basic_gameserver.json
  infrastructure/packer/provisioners/common/install-ansible.sh
  infrastructure/packer/tmp/game-server-watcher
Due: none

[GSW] start to build ci pipeline
  .github/workflows/base-image.yml
Due: none

[GSW] add var-file to packer build in ci
  .github/workflows/base-image.yml
Due: none

[GSW] add cargo cache to build & try to fix packer build in ic
  .github/workflows/base-image.yml
Due: none

[ANS] create game server role and execute in minecraft playbook
  infrastructure/ansible/admin-server.yml
  infrastructure/ansible/minecraft.yml
  infrastructure/ansible/roles/admin-server/files/.gitkeep
  infrastructure/ansible/roles/admin-server/handlers/main.yml
  infrastructure/ansible/roles/admin-server/meta/main.yml
  infrastructure/ansible/roles/admin-server/tasks/certbot.yml
  infrastructure/ansible/roles/admin-server/tasks/main.yml
  infrastructure/ansible/roles/admin-server/tasks/mysql.yml
  infrastructure/ansible/roles/admin-server/templates/certbot
  infrastructure/ansible/roles/admin-server/templates/deploy
  infrastructure/ansible/roles/admin-server/templates/docker-compose.yml
  infrastructure/ansible/roles/admin-server/templates/mysql.service
  infrastructure/ansible/roles/admin-server/vars/main.yml
  infrastructure/ansible/roles/game-server/tasks/main.yml
  infrastructure/ansible/roles/game-server/templates/game-server-watcher.service
  infrastructure/ansible/roles/game-server/templates/game-server-watcher.yaml
  infrastructure/packer/provisioners/common/install-ansible.sh
Due: none

[ASP] update game server image id
  async-server-provisioner/config/default.yml
Due: eslint:async-server-provisioner

[GSW] properly cache cargo targets in ci
  .github/workflows/base-image.yml
Due: none

[ASP] add server port to ansible
  infrastructure/ansible/roles/game-server/templates/game-server-watcher.yaml
  infrastructure/ansible/roles/game-server/vars/main.yml
  infrastructure/terraform/02-game-server/files/startup.sh
  infrastructure/terraform/02-game-server/main.tf
Due: none

[ANS] chnage game-config type
  infrastructure/terraform/02-game-server/variables.tf
Due: none

[ASP] update base image id
  async-server-provisioner/config/default.yml
Due: eslint:async-server-provisioner

[TF] add proper firewall rules to game server
  infrastructure/ansible/roles/game-server/templates/game-server-watcher.yaml
  infrastructure/terraform/02-game-server/main.tf
Due: none

[BE] add game server ports type to backend
  backend/.strapi-updater.json
  backend/api/game-server-port/config/routes.json
  backend/api/game-server-port/config/schema.graphql.js
  backend/api/game-server-port/controllers/game-server-port.js
  backend/api/game-server-port/models/game-server-port.js
  backend/api/game-server-port/models/game-server-port.settings.json
  backend/api/game-server-port/services/game-server-port.js
  backend/api/game-server/models/game-server.settings.json
  backend/package.json
Due: none

[BE] add timeout to game server port
  backend/api/game-server-port/config/schema.graphql.js
Due: none

[INRA] updat game server role sort
  infrastructure/ansible/ark-server.yml
  infrastructure/ansible/minecraft.yml
Due: none

[RFE] add ports to details view
  react-frontend/src/components/home/GameConfigDetails/GameConfigDetailQuery.ts
  react-frontend/src/components/home/GameConfigDetails/GameConfigDetails.tsx
  react-frontend/src/components/home/GameConfigDetails/GameServerDetails/GameServerDetails.tsx
Due: eslint:react

[Infra] make installed packages variable for mc
  backend/.strapi-updater.json
  backend/api/game-config-template/config/routes.json
  backend/api/game-config-template/controllers/game-config-template.js
  backend/api/game-config-template/models/game-config-template.js
  backend/api/game-config-template/models/game-config-template.settings.json
  backend/api/game-config-template/services/game-config-template.js
  backend/api/game/models/game.settings.json
  infrastructure/ansible/roles/minecraft/tasks/java.yml
Due: none

enhance README.md
  README.md
  documents/general_setup.drawio
  documents/general_setup.png
Due: none

formulate all the readme sections
  README.md
Due: none

Enhance readme (#22)
  README.md
  documents/general_setup.drawio
  documents/general_setup.png
Due: none

add platform to mysql in docker-compose filr to support m1
  docker-compose.yaml
Due: none

downgrade node-fetch to support require
  backend/.strapi-updater.json
  backend/package-lock.json
  backend/package.json
Due: none

update HCLOUD base image
  async-server-provisioner/config/custom-environment-variables.yml
  async-server-provisioner/config/default.yml
Due: eslint:async-server-provisioner

fix async server provisioner docker build
  async-server-provisioner/src/adapters/HetznerCloudAdapter.ts
Due: eslint:async-server-provisioner

downgrade node-fetch to support require
  async-server-provisioner/package.json
Due: eslint:async-server-provisioner

downgrade node-fetch to support require
  async-server-provisioner/package-lock.json
Due: eslint:async-server-provisioner

fix minecraft ansible playbook
  infrastructure/ansible/roles/minecraft/tasks/java.yml
Due: none

fix game server watcher for newer rust version
  game-server-watcher/.gitignore
  game-server-watcher/Cargo.toml
  game-server-watcher/src/clap-config.yml
  game-server-watcher/src/main.rs
  game-server-watcher/src/routes/watcher_details.rs
  game-server-watcher/src/routes/watchers.rs
Due: cargo:fmt, cargo:clippy

add cargo.lock file
  game-server-watcher/.gitignore
  game-server-watcher/Cargo.lock
  game-server-watcher/src/main.rs
Due: cargo:fmt, cargo:clippy

Fix game server watcher (#31)
  game-server-watcher/.gitignore
  game-server-watcher/Cargo.lock
  game-server-watcher/Cargo.toml
  game-server-watcher/src/clap-config.yml
  game-server-watcher/src/main.rs
  game-server-watcher/src/routes/watcher_details.rs
  game-server-watcher/src/routes/watchers.rs
Due: cargo:fmt, cargo:clippy

replace game server vm image
  async-server-provisioner/config/default.yml
Due: eslint:async-server-provisioner

always deploy strapi
  .github/workflows/strapi.yml
Due: none

migrate strapi nginx docker
  backend/docker/nginx/default.conf
Due: none

try to add server/admin url to build step
  .github/workflows/strapi.yml
  backend/Dockerfile-prod-fe
  backend/config/admin.js
  backend/config/server.js
Due: none

use new auth provider for new strapi version
  .github/workflows/react-frontend.yml
  react-frontend/package-lock.json
  react-frontend/src/components/app/App.tsx
  react-frontend/src/components/login/login.tsx
  react-frontend/src/index.tsx
Due: eslint:react

update API URL
  react-frontend/src/index.tsx
Due: eslint:react

try to abstract react frontend api URL
  .github/workflows/react-frontend.yml
  react-frontend/Dockerfile
  react-frontend/src/index.tsx
Due: eslint:react

try to abstract react frontend api URL
  .github/workflows/react-frontend.yml
Due: none
